html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 48px; }

h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.33;
  color: #000000; }

h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  color: #000000; }

a {
  line-height: 1.5;
  color: #000000;
  font-weight: 700; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000; }

a {
  font-weight: 400;
  font-size: 16px; }

.btn {
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  border: 3px solid #000000;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.8); }

.btn-orange {
  background: #F6B26B; }
  .btn-orange:hover {
    background: #f49e45;
    transition: all 0.3s ease; }
  .btn-orange:active, .btn-orange:focus {
    background: #d5730d; }

.btn-pointy {
  border-radius: 50px 0 0 50px; }

.dish-details {
  display: flex;
  flex-direction: column;
  padding-top: 24px; }
  @media (min-width: 768px) {
    .dish-details {
      flex-direction: row; } }

.dish-details-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .dish-details-overview {
      flex-direction: row; } }

.dish-description {
  display: flex;
  flex-direction: column;
  margin: 24px 0 32px; }
  @media (min-width: 768px) {
    .dish-description {
      display: block;
      margin: 0; } }
  .dish-description h2 {
    text-transform: uppercase;
    padding-top: 10px; }
  .dish-description img {
    min-width: 100%; }
  .dish-description p {
    padding-top: 8px; }
  .dish-description button {
    text-align: center; }

.dish-ingredients {
  background: #FFE599;
  border: 4px solid #000000;
  height: 100%;
  padding: 16px 24px; }
  .dish-ingredients table {
    width: 100%; }
  .dish-ingredients tr {
    line-height: 35px; }
  .dish-ingredients td:first-child {
    padding-left: 16px; }

.dish-ingredients-heading {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-transform: uppercase;
  font-weight: 500; }
  .dish-ingredients-heading span {
    white-space: pre; }

#ingredientTotal {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #ingredientTotal span {
    white-space: pre;
    padding-right: 12px; }

.dish-items-container {
  margin-top: 32px; }

.dish-items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-gap: 1rem;
  justify-content: space-between; }
  .dish-items-wrapper a {
    margin-bottom: 64px;
    max-width: 140px; }
    .dish-items-wrapper a img {
      border: 3px solid #000000;
      border-bottom: none;
      min-height: 100%;
      max-width: 100%; }
    .dish-items-wrapper a h3 {
      background: #E5E5E5;
      font-size: 14px;
      border: 3px solid #000000;
      padding: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center; }

#dinnerOverviewView {
  display: flex;
  flex-direction: column; }
  #dinnerOverviewView hr {
    border-top: 3px solid #000000;
    width: calc(100% - 100px); }

#containerForDishAndPrice {
  align-items: flex-end;
  display: flex;
  justify-content: center; }

#selectedDishesOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 3px solid #000000;
  padding-right: 16px; }
  @media (min-width: 768px) {
    #selectedDishesOverview {
      flex-direction: row; } }
  #selectedDishesOverview img {
    border: 3px solid #000000;
    border-bottom: none;
    height: 150px;
    width: 150px;
    object-fit: cover; }
  #selectedDishesOverview h3 {
    display: flex;
    justify-content: center;
    background: #E5E5E5;
    font-size: 14px;
    border: 3px solid #000000;
    padding: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
  #selectedDishesOverview a {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    justify-content: flex-end;
    max-width: 150px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      #selectedDishesOverview a {
        margin-bottom: 0; } }
    #selectedDishesOverview a span {
      align-self: flex-end; }

#cuttingLineAndPrice {
  padding-left: 16px;
  display: flex;
  flex-direction: column; }

#printRecipeButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px; }

h1 {
  background: #E5E5E5;
  border-bottom: 4px solid #A5A5A5;
  color: #000000;
  text-align: center;
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
  margin: 0; }
  @media (min-width: 576px) {
    h1 {
      font-size: 40px;
      padding: 32px; } }

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #000000;
  padding: 16px;
  margin-bottom: 32px;
  padding-left: 32px; }
  .title-bar h2 {
    margin: 0; }

#welcomeView {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #welcomeView p {
    max-width: 500px;
    margin: 24px;
    flex: 1 0 auto;
    text-align: center; }
    @media (min-width: 576px) {
      #welcomeView p {
        margin: 48px; } }
  #welcomeView button {
    flex: 1 0 auto; }

.select-dish {
  display: flex;
  padding-top: 24px;
  flex-direction: column; }
  @media (min-width: 576px) {
    .select-dish {
      flex-direction: row; } }

#sideBarView {
  display: flex;
  flex-direction: column;
  border: 4px solid #000000;
  overflow: auto;
  height: 100%; }
  #sideBarView h2 {
    margin-top: 8px; }
  #sideBarView > button {
    margin: 24px 0 16px; }
  #sideBarView ul {
    list-style: none;
    padding: 0; }
    #sideBarView ul li {
      display: flex;
      justify-content: space-between; }

.people-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.people-selector-button {
  border: 3px solid #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
  padding: 0 5px;
  min-width: 50px; }

.up-down-buttons {
  display: flex;
  flex-direction: column; }
  .up-down-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    border: none;
    box-shadow: none; }
  .up-down-buttons .btn {
    padding: 0; }

.side-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .side-bar-header .fa {
    font-size: 25px; }
  .side-bar-header .fa-bars {
    display: none; }
  @media (min-width: 576px) {
    .side-bar-header .fa-times,
    .side-bar-header .fa-bars {
      display: none; } }

.side-bar-sub-header {
  width: calc(100% + 30px);
  margin-left: -15px;
  border: 2px solid black;
  border-right: none;
  border-left: none;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center; }
  .side-bar-sub-header span {
    font-weight: 500; }

#totalPrice {
  align-self: end; }

#dishSearchView {
  padding: 0;
  margin-top: 32px; }
  @media (min-width: 576px) {
    #dishSearchView {
      padding-left: 32px;
      margin-top: 0; } }

.search-bar {
  border: 4px solid #000000;
  padding: 0 16px; }
  .search-bar h2 {
    margin-top: 8px; }
  .search-bar .search-bar-container {
    margin-bottom: 16px; }

#keywordInput,
#dishTypeSelect {
  background: none;
  border: 3px solid #000000;
  padding-left: 16px;
  margin-right: 16px;
  height: 32px; }

#searchDishButton {
  height: 32px;
  padding: 0 16px;
  margin-top: -4px; }

#keywordInput {
  margin-bottom: 8px; }
  @media (min-width: 576px) {
    #keywordInput {
      margin-bottom: 0; } }

#prepSection {
  margin-top: 32px;
  padding: 16px; }
  #prepSection h2 {
    text-transform: uppercase; }

.printout-dishes {
  list-style: none;
  padding: 0; }

.printout-dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px; }
  @media (min-width: 768px) {
    .printout-dish {
      flex-direction: row;
      justify-content: flex-space-between;
      align-items: flex-start; } }
  .printout-dish:last-child {
    padding-bottom: 0; }
  .printout-dish img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 3px solid #000000;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .printout-dish img {
        margin-bottom: 0; } }
  .printout-dish section {
    padding-left: 0; }
    @media (min-width: 768px) {
      .printout-dish section {
        padding-left: 32px; } }
  .printout-dish h2, .printout-dish h3 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px; }
  .printout-dish h3 {
    font-size: 18px; }
  .printout-dish p {
    font-size: 14px; }
