.dish-items-container {
  margin-top: $padding-md;
}

.dish-items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-gap: 1rem;
  justify-content: space-between;

  a {
    margin-bottom: $padding-xl;
    max-width: 140px;

    img {
      border: 3px solid $black;
      border-bottom: none;
      min-height: 100%;
      max-width: 100%;
    }

    h3 {
      background: $grey;
      font-size: 14px;
      border: 3px solid $black;
      padding: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
}
