.dish-items-container {
  margin-top: $padding-md;
}

.dish-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    position: relative;
    margin-bottom: $padding-xl;

    img {
      border: 3px solid $black;
      border-bottom: none;
    }

    h3 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $grey;
      font-size: 14px;
      border: 3px solid $black;
      padding: 4px;
      width: 100%;
    }
  }
}
